*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    overflow-x: hidden;
}

.header {
    min-height: 500px;
    width: 100%;
    background-image:linear-gradient(rgba(95, 98, 113, 0.7),rgba(30, 33, 46, 0.7)), url(/menu12.png);
    background-position: center;
    position: relative;
}

nav{    
    display: flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
}
nav img{
    width: 150px;}

menu{
    flex:1;
    text-align: right;
}

.ul li{
    margin: 20px;
}

.menu ul li{ 
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;

}

.menu ul li a{
    color:orange;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition:0.4s ease-in-out;
    cursor: pointer;
}

.menu ul li a:hover{
    color: white;
}

.overlay-text{
    width: 90%;
    color: white;
    position: absolute;
    top:50%;
    left: 43%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
}

.overlay{
    width: 90%;
    color: white;
    position: absolute;
    top:60%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.logo {
    width: 200px; 
    margin-top: 0px;
    margin-right: 100px; 
    display: block; 
}

nav .fa{
    display: none;
}

.features{
    width: 80%;
    margin: auto;
    padding-top: 30px;
}
p{
    padding:10px;
    line-height:22px;
}

h2{
    padding:10px;
    line-height:22px;
}


.row{
    margin-top:10px;
    display:flex;
    justify-content: space-between;
    text-align:center;

}

.row h2{
    text-align:center;
}

hr{
    width: 1000px;
    color: orange;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 3px;
    border: 1px solid orange;
}

.course-col{
    flex-basis:31%;
    background:orange;
    border-radius: 10px;
    margin-bottom:5%;
    padding: 10px 0px;
    box-sizing: border-box;
    color:white;
    transition:0.5s
}

.course-col:hover, .facebook:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.facebook{
    margin: 0px auto;
    width: 67%;
    background:orange;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 30px 100px 0.5px 100px;
}

.facebook h1{
    margin-bottom: 40px;
    padding: 0;
    font-size: 40px;
}
.facebook-logo{
    width: 100px;
    height: 100px;
    margin-left: -60%;
    margin-bottom: -10%;
}

.footer{
    width:80%;
    padding: 30px;
    margin-left: 110px;
    text-align: center;
    margin-top:-60px;
}

.odkazy{
    color:white;
    cursor: pointer;
   }
.odkazy:hover{
    color:black;
    cursor: pointer;
   }
.odkazy1{
    color:orange;
    cursor: pointer;
   }
.odkazy1:hover{
    color:black;
    cursor: pointer;
   }
.mobilehr{
    visibility: hidden;
}
.obrazok1{
    width: 200px;
    height:138px;
    margin-left: auto;
    margin-right: auto;
   }


@media screen and (min-device-width: 700px) and (max-device-width: 1050px) { 
    .features{
        width: 80%;
        margin: auto;
        text-align: left;
        padding-top: 30px;

    }
    .obrazok1{
    width: 200px;
    height:138px;
    margin-left: auto;
    margin-right: auto;
   }
   .facebook h1{
    white-space: nowrap; 
    font-size: 40px;
    margin-left:100px;
    margin-bottom: 0px;
    margin-top: -60px;
    padding: 0;
    text-align: center;
    width: 50%;
}
    .facebook{
    flex-basis:31%;
    margin: 10px auto;
    width: 55%;
    background-position: center;
    border-radius: 30px;
    text-align: center;
    background:orange;
    background-position: center;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-right: 100px; 

}

    .header {
        min-height: 300px;
        width: 100%;
        background-image: linear-gradient(rgba(95, 98, 113, 0.7),rgba(30, 33, 46, 0.7)),url(/images/menu12.png);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    .overlay-text{
        font-size: 35px;
        text-align: left;
        margin-right:20px;
        margin-left: 7%;

    }
    .overlay{
        font-size: 30px;
        text-align: left 30px;
        margin-left: -20px;
        margin-top: 20px;
    }
    .menu ul li{
        display: block;
    }
    .menu{
        position: absolute;
        background:orange;
        height: 100vh;
        width: 200px;
        top:0;
        right:0px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .menu ul li a{
            color:white;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            transition:0.4s ease-in-out;
        }
           
    .menu ul li a:hover{
            color: black;
        }
    nav .fa{
        display: block;
        color:#fff;
        margin:15px;
        font-size: 30px;
        cursor: pointer;
        margin-top: 20px;
    }
    .menu ul{
        padding: 30px;

    }

    .row{
        flex-direction: column;
    }

    
    .facebook-logo{

        width: 100px;
        height: 100px;
        margin-left: -440px;
        margin-bottom: -40px;
        margin-top: -20px;
    }

   hr {  width: 600px;
   }

   .footer{
    width:80%;
    padding: 10px;
    text-align: center;
    margin-top: -40px;
    margin-left: 90px;
}
    
}  

@media screen and (min-device-width: 400px) and (max-device-width: 700px)
    {
    .features{
            width: 85%;
            margin: auto;
            text-align: left;
            padding-top: 30px;
        }
    .footer{
            width:85%;
            padding: 30px;
            text-align: center;
            margin-top:-20px;
            margin-left: 0px;
        }
   
    .obrazok1{
    width: 200px;
    height:138px;
    margin-left: auto;
    margin-right: auto;
   }
   .obrazok2{
    width: 200px;
    height:138px;
    margin-left: 0px;
    margin-right: auto;
   }

    .facebook h1{
        white-space: nowrap; 
        font-size: 24px;
        margin-left:0px;
        color: #fff;
        margin-bottom: 30px;
        margin-top: -130px;
        padding: 0;
        text-align: center;
        width: 50%;
    }
    .facebook{
        width: 35%;
        background:orange;
        background-position: center;
        border-radius: 10px;
        padding-top: 30px;
        padding-left: 100px;
        padding-bottom: -100px;
        padding-right: 100px; 
        text-align: left;
        margin-left: auto;
        margin-right: auto;

    }

    .header {
        min-height: 300px;
        width: 100%;
        background-image: linear-gradient(rgba(95, 98, 113, 0.7),rgba(30, 33, 46, 0.7)),url(/images/menu12.png);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    .overlay-text{
        font-size: 30px;
        text-align: left;
        margin-right:20px;
        margin-left: 35px;

    }
    .overlay{
        font-size: 20px;
        text-align: left 30px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .menu ul li{
        display: block;
    }
    .menu{
        position: absolute;
        background:orange;
        height: 100vh;
        width: 200px;
        top:0;
        right:0px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .menu ul li a{
            color:white;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            transition:0.4s ease-in-out;
        }
           
    .menu ul li a:hover{
            color: black;
        }
    nav .fa{
        display: block;
        color:#fff;
        margin:15px;
        font-size: 30px;
        cursor: pointer;
        margin-top: 20px;
    }
    .menu ul{
        padding: 30px;

    }

    .row{
        flex-direction: column;
    }

    
    .facebook-logo{

        width: 70px;
        height: 70px;
        margin-left: -80px;
        margin-bottom: 20px;
        margin-top: 0%;
    }

    hr{
        visibility: hidden;
        margin-top: 0px;
        margin-bottom: 0px;
       
    }
    .footer{
        width:90%;
        padding: 10px;
        text-align: center;
        margin-top: -20px;
    }
    
}  
@media (max-device-width: 400px)
{
    .features{
        width: 85%;
        margin: auto;
        text-align: left;
        padding-top: 30px;
    }
    .footer{
        width:85%;
        padding: 30px;
        text-align: center;
        margin-top:-20px;
        margin-left: 0px;
    }

    .obrazok1{
        width: 200px;
        height:138px;
        margin-left: auto;
        margin-right: auto;
    }
    .obrazok2{
        width: 200px;
        height:138px;
        margin-left: 0px;
        margin-right: auto;
       }
    
        .facebook h1{
            white-space: nowrap; 
            font-size: 24px;
            margin-left:0px;
            color: #fff;
            margin-bottom: 30px;
            margin-top: -130px;
            padding: 0;
            text-align: center;
            width: 50%;
        }
        .facebook{
            width: 35%;
            background:orange;
            background-position: center;
            border-radius: 10px;
            padding-top: 30px;
            padding-left: 100px;
            padding-bottom: -100px;
            padding-right: 100px; 
            text-align: left;
            margin-left: auto;
            margin-right: auto;
    
        }
    
        .header {
            min-height: 300px;
            width: 100%;
            background-image: linear-gradient(rgba(95, 98, 113, 0.7),rgba(30, 33, 46, 0.7)),url(/images/menu12.png);
            background-position: center;
            background-size: cover;
            position: relative;
        }
        
        .overlay-text{
            font-size: 30px;
            text-align: left;
            margin-right:20px;
            margin-left: 35px;
    
        }
        .overlay{
            font-size: 20px;
            text-align: left 30px;
            margin-left: 0px;
            margin-top: 20px;
        }
        .menu ul li{
            display: block;
        }
        .menu{
            position: absolute;
            background:orange;
            height: 100vh;
            width: 200px;
            top:0;
            right:0px;
            text-align: left;
            z-index: 2;
            transition: 1s;
        }
    
        .menu ul li a{
                color:white;
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                transition:0.4s ease-in-out;
            }
               
        .menu ul li a:hover{
                color: black;
            }
        nav .fa{
            display: block;
            color:#fff;
            margin:15px;
            font-size: 30px;
            cursor: pointer;
            margin-top: 20px;
            margin-left:5px;
        }
        .menu ul{
            padding: 30px;
    
        }
    
        .row{
            flex-direction: column;
        }
    
        
        .facebook-logo{
    
            width: 70px;
            height: 70px;
            margin-left: -80px;
            margin-bottom: 20px;
            margin-top: 0%;
        }
    
        hr{
            visibility: hidden;
            margin-top: 0px;
            margin-bottom: 0px;
           
        }
        .footer{
            width:90%;
            padding: 10px;
            text-align: center;
            margin-top: -20px;
        }


 }



