*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    overflow-x: hidden;
}
.marginh2{
    margin-top: 50px;
}
.marginh21{
    margin-top: 30px;
}
.contentcontainer h2{
    font-size: 35px;
    padding:10px;
    text-align: center;
}
.header {
    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(95, 98, 113, 0.7),rgba(30, 33, 46, 0.7)),url(/images/menu12.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding:2% 2%;
    justify-content:space-between;
    align-items:left;
}
nav img{
    width: 150px;}

menu{
    flex:1;
    text-align: right;
}

.ul li{
    margin: 20px;
}

.menu ul li{ 
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;

}

.menu ul li a{
    color:orange;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition:0.4s ease-in-out;
}


.menu ul li a:hover{
    color: white;
}


.logo {
    width: 200px; 
    margin-top: 0px;
    margin-left: 80px; 
    display: block; 
}

nav .fa{
    display: none;
}

.features{
    width: 90%;
    margin: auto;
    text-align: left;
    padding-top: 30px;
    margin-bottom: 30px;
}

.features2{
    width: 90%;
    margin: auto;
    text-align: left;
    padding-top: 0px;
    margin-bottom: 0px;
}

.features .odkazytext{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 30px;
    margin-bottom: 30px;
}

.features2 .odkazytext{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 00px;
    margin-bottom: 00px;
}

p{
    padding-top: 10px;
    line-height:22px;
}

.row{
    margin-top:10px;
    display:flex;
    justify-content: space-between;
    text-align:center;

}

.row h2{
    text-align:center;
}

hr{
    width: 1000px;
    color: orange;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 3px;
    border: 1px solid orange;
}

.course-col{
    flex-basis:31%;
    background:orange;
    border-radius: 10px;
    margin-bottom:5%;
    padding: 20px 12px;
    box-sizing: border-box;
    color:white;
    transition:0.5s
}

.course-col2{
    flex-basis:31%;
    background:orange;
    border-radius: 10px;
    margin-bottom:10px;
    padding: 20px 12px;
    box-sizing: border-box;
    color:white;
    transition:0.5s
}

.course-col:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.course-col2:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.facebook{
    margin: 0px auto;
    margin-top:10px;
    width: 68%;
    background:orange;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 0.5px;
    padding-right: 100px;
}
.facebook:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.facebook h1{
    margin-bottom: 40px;
    padding: 0;
    font-size: 40px;
}
.facebook-logo{
    width: 100px;
    height: 100px;
    margin-left: -60%;
    margin-bottom: -11%;
}

.footer{
    width:80%;
    padding: 30px;
    margin-left: 110px;
    text-align: center;
    margin-top:-40px;
}

.pictureindexpostranka{
    max-height: 500px;
    position: center;
    max-width: 700px;
    margin-left: 15%;
}

.odkazy{
    color:white;
    cursor: pointer;
   }
.odkazy:hover{
    color:black;
    cursor: pointer;
   } 
.odkazy1{
    color:orange;
    cursor: pointer;
   }
.odkazy1:hover{
    color:black;
    cursor: pointer;
   }
.odkazy2{
    color:orange;
    margin-left: 20px;
    cursor: pointer;
   }
.odkazy2:hover{
    color:black;
    cursor: pointer;
    margin-left: 20px;
   }

@media screen and (min-device-width: 700px) and (max-device-width: 1050px) {

    .features{
        width: 90%;
        margin: auto;
        text-align: left;
        padding-top: 10px;
    }

    .features2{
        width: 85%;
        margin: auto;
        text-align: left;
        padding-top: 0px;
        margin-bottom: 0px;
    }
    .course-col2{
        flex-basis:31%;
        background:orange;
        border-radius: 10px;
        margin-bottom:10px;
        padding: 20px 12px;
        box-sizing: border-box;
        color:white;
        transition:0.5s
    }
   
    .obrazok1{
    width: 200px;
    height:138px;
    margin-left: -80px;
    margin-right: auto;
   }
    .facebook h1{
        white-space: nowrap; 
        font-size: 40px;
        margin-left:150px;
        margin-bottom: 20px;
        margin-top: -140px;
        padding: 0;
        text-align: center;
        width: 50%;
    }
    .facebook{
        flex-basis:31%;
        margin: 10px auto;
        width: 60%;
        background-position: center;
        border-radius: 30px;
        text-align: center;
        background:orange;
        background-position: center;
        border-radius: 10px;
        padding-top: 30px;
        padding-left: 100px;
        padding-bottom: -100px;
        padding-right: 100px; 

    }

    .header {
        min-height: 100px;
        width: 100%;
        background-image: linear-gradient(rgba(95, 98, 113, 0.7),rgba(30, 33, 46, 0.7)),url(/images/menu12.png);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    .menu ul li{
        display: block;
    }
    .menu{
        position: absolute;
        background:orange;
        height: 450px;
        width: 200px;
        top:0;
        right:0px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .menu ul li a{
            color:white;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            transition:0.4s ease-in-out;
        }
           
    .menu ul li a:hover{
            color: black;
        }
    nav .fa{
        display: block;
        color:#fff;
        margin:15px;
        font-size: 30px;
        cursor: pointer;
        margin-top: 20px;
    }
    .menu ul{
        padding: 30px;

    }

    .row{
        flex-direction: column;
    }

    
    .facebook-logo{

        width: 100px;
        height: 100px;
        margin-left: -450px;
        margin-bottom: 0px;
        margin-top: -10px;
    }

   hr {  width: 600px;
   }
   .pictureindexpostranka{
    max-height: 500px;
    max-width: 700px;
    margin-left: 00px;
    margin-right: auto;
    position: center;
}
    .footer{
    width:80%;
    padding: 10px;
    text-align: center;
    margin-top: -20px;
    margin-left: 90px;
}
    .obrazok1{
    width: 200px;
    height:138px;
    margin-left: auto;
    margin-right: auto;
   }
    
}  

@media screen and (min-device-width: 450px) and (max-device-width: 700px)
    {
    .features{
            width: 90%;
            margin: auto;
            text-align: left;
            padding-top: 15px;
        }
    .logo {
            width: 200px; 
            margin-top: 15px;
            margin-right: 100px; 
            display: block; 
        }
   
    .obrazok1{
    width: 200px;
    height:138px;
    margin-left: auto;
    margin-right: auto;
   }
    .facebook h1{
        white-space: nowrap; 
        font-size: 24px;
        margin-left:0px;
        color: #fff;
        margin-bottom: 30px;
        margin-top: -130px;
        padding: 0;
        text-align: center;
        width: 50%;
    }
    .facebook{
        flex-basis:31%;
        margin: 10px auto;
        width: 60%;
        background-position: center;
        border-radius: 30px;
        text-align: center;
        padding-left:20px;
        width: 30%;
        background:orange;
        background-position: center;
        border-radius: 10px;
        text-align: left;
        padding-top: 30px;
        padding-left: 100px;
        padding-bottom: -100px;
        padding-right: 100px; 

    }

    .header {
        min-height: 100px;
        width: 100%;
        background-image: linear-gradient(rgba(95, 98, 113, 0.7),rgba(30, 33, 46, 0.7)),url(/images/menu12.png);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    
   
    .menu ul li{
        display: block;
    }
    .menu{
        position: absolute;
        background:orange;
        height: 100vh;
        width: 200px;
        top:0;
        right:0px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .menu ul li a{
            color:white;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            transition:0.4s ease-in-out;
        }
           
    .menu ul li a:hover{
            color: black;
        }
    nav .fa{
        display: block;
        color:#fff;
        margin:15px;
        font-size: 30px;
        cursor: pointer;
        margin-top: 20px;
    }
    .menu ul{
        padding: 30px;

    }

    .row{
        flex-direction: column;
    }

    
    .facebook-logo{

        width: 70px;
        height: 70px;
        margin-left: -80px;
        margin-bottom: 20px;
        margin-top: 0%;
    }

    hr{
        visibility: hidden;
        margin-top: 0px;
        margin-bottom: 0px;
       
    }
    .pictureindexpostranka{
        max-height:250px;
        position: center;
        max-width: 300px;
        margin-left: 5px;
    }
    .contentcontainer h2{
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
    .footer{
        width:90%;
        padding: 10px;
        text-align: center;
        margin-top: -20px;
        margin-left: 5px;
    }

    
}  

@media (max-device-width: 450px){
.features{
        width: 90%;
        margin: auto;
        text-align: left;
        padding-top: 15px;
    }
.logo {
        width: 200px; 
        margin-top: 15px;
        margin-left: 3%; 
        display: block; 
    }

.obrazok1{
width: 200px;
height:138px;
margin-left: auto;
margin-right: auto;
}
.facebook h1{
    white-space: nowrap; 
    font-size: 24px;
    margin-left:0px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: -130px;
    padding: 0;
    text-align: center;
    width: 50%;
}
.facebook{
    flex-basis:31%;
    margin: 10px auto;
    width: 60%;
    background-position: center;
    border-radius: 30px;
    text-align: center;
    padding-left:20px;
    width: 30%;
    background:orange;
    background-position: center;
    border-radius: 10px;
    text-align: left;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: -100px;
    padding-right: 100px; 

}

.header {
    min-height: 100px;
    width: 100%;
    background-image: linear-gradient(rgba(95, 98, 113, 0.7),rgba(30, 33, 46, 0.7)),url(/images/menu12.png);
    background-position: center;
    background-size: cover;
    position: relative;
}


.menu ul li{
    display: block;
}
.menu{
    position: absolute;
    background:orange;
    height: 100vh;
    width: 200px;
    top:0;
    right:0px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}

.menu ul li a{
        color:white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        transition:0.4s ease-in-out;
    }
       
.menu ul li a:hover{
        color: black;
    }
nav .fa{
    display: block;
    color:#fff;
    font-size: 30px;
    cursor: pointer;
    margin: 20px;
    margin-top: 30px;
}
.menu ul{
    padding: 30px;

}

.row{
    flex-direction: column;
}


.facebook-logo{

    width: 70px;
    height: 70px;
    margin-left: -80px;
    margin-bottom: 20px;
    margin-top: 0%;
}

hr{
    visibility: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
   
}
.pictureindexpostranka{
    max-height:250px;
    position: center;
    max-width: 300px;
    margin-left: 5px;
}
.contentcontainer h2{
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.footer{
    width:90%;
    padding: 10px;
    text-align: center;
    margin-top: -20px;
    margin-left: 5px;
}

}  